
*{
    margin:0;
    padding:0;
    
}
h1{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
.content-flex{
    display:flex; /*definee el contenedor ds flexiblld*/
    /*width: 400px;*/
    height: 610px;
    border: 3px solid green;
    margin: 0 auto;
    background: black;
    flex-direction: row; /*auto ajuste*/
    align-items: center;
    /*flex-wrap: wrap-reverse;*/
   
}
.contenido{
 width: 50px;
 height: 50px;
 

}

.contenido:nth-child(1){
    background-color: violet;

}

.contenido:nth-child(2){
    background-color: powderblue;
    align-self: flex-start;
   
}
.contenido:nth-child(3){
    background-color: gold;
   
}
.contenido:nth-child(4){
    background-color: aqua;
 
}
.contenido:nth-child(5){
    background-color: pink;
    
   
}
.contenido:nth-child(6){
    background-color: red;
 
}
.contenido:nth-child(7){
    background-color: blue;
 
}
.contenido:nth-child(8){
    background-color: salmon;
 
}


@media  screen and (min-width:568px){
    .content-flex{
   
        flex-direction: column; 
           
    }

    .contenido:nth-child(1){
        background-color: violet;
      
        
    }
    
    
    .contenido:nth-child(2){
        background-color: powderblue;
        align-self: flex-end;
       
        
    }
    .contenido:nth-child(3){
        background-color: gold;
      
    }
    .contenido:nth-child(4){
        background-color: aqua;
        align-self: flex-end;
       
    }
    .contenido:nth-child(5){
        background-color: pink;
       
    }
    .contenido:nth-child(6){
        background-color: red;
        align-self: flex-end;
     
    }
    .contenido:nth-child(7){
        background-color: blue;
     
    }
    .contenido:nth-child(8){
        background-color: salmon;
        align-self: flex-end;
     
    }
}
    @media  screen and (min-width:768px){
        .content-flex{
       
            flex-direction: column; 
               
        }
    
        .contenido:nth-child(1){
            background-color: violet;

            align-self: center;
          
            
        }
        
        
        .contenido:nth-child(2){
            background-color: powderblue;
            align-self: flex-start;
           
           
            
        }
        .contenido:nth-child(3){
            background-color: gold;
            align-self: flex-end;
          
        }
        .contenido:nth-child(4){
            background-color: aqua;
            align-self: flex-start;
           
        }
        .contenido:nth-child(5){
            background-color: pink;
            align-self: flex-end;
           
        }
        .contenido:nth-child(6){
            background-color: red;
            align-self: flex-start;
           
         
        }
        .contenido:nth-child(7){
            background-color: blue;
            align-self: flex-end;
         
        }
        .contenido:nth-child(8){
            background-color: salmon;
            align-self: center;
          
         
        }
    }
    @media  screen and (min-width:968px){
        .content-flex{
       
            flex-direction: row; 

               
        }
    
        .contenido:nth-child(1){
            background-color: violet;

            align-self: center;
          
            
        }
        
        
        .contenido:nth-child(2){
            background-color: powderblue;
            align-self: flex-start;
           
           
            
        }
        .contenido:nth-child(3){
            background-color: gold;
           align-items: flex-end;
          
        }
        .contenido:nth-child(4){
            background-color: aqua;
            align-self: center;
           
        }
        .contenido:nth-child(5){
            background-color: pink;
            align-self:  flex-start;
           
        }
        .contenido:nth-child(6){
            background-color: red;
            align-self: center;
           
         
        }
        .contenido:nth-child(7){
            background-color: blue;
            align-self: flex-end;
         
        }
        .contenido:nth-child(8){
            background-color: salmon;
            align-self:flex-start;
          
         
        }
    }
